.displayPosts{
    width: 73%;
    margin-top: 1em;
}
.displayPosts ul{
    padding: 0.2em;
    background-color: rgb(209, 209, 253);
    border-radius: 15px;
}

.listItem{
    margin: 1em;
    padding: 1em;
    background-color: rgb(226, 226, 248);
    border-radius: 10px;
    list-style-type: none;
}

.listtem > div{
    display: block;
}

.listItem .title{
    font-size: larger;
    font-weight: 700;
}

.listItem .comments{
    margin-top: 1em;
    border-top: 1px solid rgb(13, 13, 67);
    font-size: medium;
    color: rgb(118, 118, 118);
}